---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en" xml:base="{{ site.url }}/">
  <title>JD Ranpariya</title>
  <subtitle type="text">Exploring the intersection of AI, biology, neuroscience, and embodied cognition</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml" />
  <link href="{{ site.url }}/" rel="alternate" type="text/html" />
  <updated>{{ collections.feedEntries | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/feed.xml</id>
  <author>
    <name>JD Ranpariya</name>
    <email>jaydeepranpariya037@gmail.com</email>
  </author>
  <generator>Eleventy</generator>
  <rights>© 2025–2026 JD Ranpariya</rights>
  {%- for post in collections.feedEntries | limit(20) %}
  {%- set isNowUpdate = post.inputPath.startsWith('./src/now/updates/') %}
  {%- if isNowUpdate %}
  {%- set postUrl = '/now/' + (post.date | dateToFormat('yyyy-MM-dd')) + '/' %}
  {%- set postTitle = 'Now, ' + (post.date | formatDate) %}
  {%- else %}
  {%- set postUrl = post.url %}
  {%- set postTitle = post.data.fullTitle or post.data.title %}
  {%- endif %}
  {%- set postPublished = post.data.published or post.data.date %}
  {%- if not postPublished and post.data.year %}
  {%- set postPublished = post.data.year | yearToDate %}
  {%- endif %}
  <entry>
    <title>{{ postTitle | escape }}</title>
    <link href="{{ site.url }}{{ postUrl }}" rel="alternate" type="text/html" />
    <id>{{ site.url }}{{ postUrl }}</id>
    {%- if postPublished %}
    <published>{{ postPublished | dateToRfc3339 }}</published>
    {%- endif %}
    <updated>{{ (post.data.lastUpdated or postPublished) | dateToRfc3339 }}</updated>
    {%- if post.data.author %}
    <author>
      <name>{{ post.data.author }}</name>
    </author>
    {%- endif %}
    {%- if post.data.description %}
    <summary>{{ post.data.description | escape }}</summary>
    {%- endif %}
    <content type="text/html" src="{{ site.url }}{{ postUrl }}" />
    {%- if isNowUpdate %}
    <category term="now" />
    {%- elif post.data.tags %}
    {%- for tag in post.data.tags %}
    <category term="{{ tag }}" />
    {%- endfor %}
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
