---
permalink: /llms.txt
layout: false
sitemap: false
eleventyExcludeFromCollections: true
---
# Jay Ranpariya

Personal site and digital garden.

Use the [sitemap]({{ site.url }}/sitemap.xml) to explore the published pages.
