---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://jdranpariya.github.io/</loc></url>
  <url><loc>https://jdranpariya.github.io/now/</loc></url>
  <url><loc>https://jdranpariya.github.io/writings/</loc></url>
  <url><loc>https://jdranpariya.github.io/projects/</loc></url>
  <url><loc>https://jdranpariya.github.io/library/</loc></url>
  <url><loc>https://jdranpariya.github.io/odysseys/</loc></url>
  <url><loc>https://jdranpariya.github.io/about/</loc></url>
  <url><loc>https://jdranpariya.github.io/guestbook/</loc></url>
  {% for post in collections.writings %}
  <url>
    <loc>https://jdranpariya.github.io{{ post.url }}</loc>
    <lastmod>{{ post.data.lastUpdated or post.data.published }}</lastmod>
  </url>
  {% endfor %}
  {% for book in collections.books %}
  <url><loc>https://jdranpariya.github.io{{ book.url }}</loc></url>
  {% endfor %}
  {% for project in collections.projects %}
  <url><loc>https://jdranpariya.github.io{{ project.url }}</loc></url>
  {% endfor %}
</urlset>
